<footer>
  <hr class="custom-hr" />
  <div
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="space-between none"
    fxLayoutGap="2px"   
  >
    <app-contact-form fxFlex="33.33%"></app-contact-form>
    <mat-card fxHide.xs>
      Site developed by Gary Allin and hosted by Trilogy Web Solutions. Site
      developed by Gary Allin and hosted by Trilogy Web Solutions Site developed
      by Gary Allin and hosted by Trilogy Web Solutions
    </mat-card>
    <mat-card fxHide.xs>
      Site developed by Gary Allin and hosted by Trilogy Web Solutions. Site
      developed by Gary Allin and hosted by Trilogy Web Solutions Site developed
      by Gary Allin and hosted by Trilogy Web Solutions
    </mat-card>
  </div>
  <hr class="custom-hr" />
  <div fxLayout="row" fxLayoutAlign="space-around center">
    {{ showTime | async | date: "medium" }}
  </div>
</footer>
