<button mat-raised-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
  Choose a Conversion
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="showPower = !showPower">Power Conversions</button>
  <button mat-menu-item (click)="showDistance = !showDistance">Distance Conversions</button>
  <button mat-menu-item (click)="showSpeed = !showSpeed">Speed Conversions</button>
</mat-menu>

<h3>Scientific Calculations</h3>

<section id="scientific" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="36px" fxLayoutGap.xs="0">
  <div *ngIf="showPower">
    <app-horse-power></app-horse-power>
  </div>

  <div *ngIf="showDistance">
    <app-distance-convert></app-distance-convert>
  </div>

  <div *ngIf="showSpeed">
    <app-speed-convert></app-speed-convert>
  </div>
</section>