<h3>Future Value of Home</h3>
<form [formGroup]="form" (ngSubmit)="convertHv(
                  form.value.hval, 
                  form.value.period, 
                  form.value.appriciation )">
  <mat-form-field>
    <input matInput formControlName="hval" placeholder="Home Value" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="period" placeholder="Period" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="appriciation" placeholder="Annual Appriciation %" required>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Get Value</button>
</form>
<div *ngIf="futureHomeValue">
  <p>Your house will be worth {{futureHomeValue | currency:'':''}} in {{term}} years time.</p>
</div>