<section
  id="home"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="space-between none"
  fxLayoutGap="36px"
  fxLayoutGap.xs="0"
>
  <div>
    <h1>Angular 7, Material 7 and Flex-box</h1>
    <p>
      Using Angular 7 I wanted to create a practical app that can be used to do
      some handy calculations. There are two sections, Financial and Science. I
      will be adding more calculations as time goes on. I will also be adding an
      invoice component where you would be able to create an voice.
    </p>
    <p>
      This app was build with angular 7 and styled using angular Material 2 and
      flex-box.
             
      Within the app I made use of routing, Angular's reactive forms and
      Services. There are two services one the Financial calculations and one
      for the Scientific calculations.
    </p>
    <h3>Future Plans</h3>
    <p>
      Going forward I want add an invoice component and also a loggin and
      registration component using Angular Firebase. I will also be adding some
      additional features which will enhance the user experience.
    </p>
  </div>
  <div>
    <h1>Financial</h1>
    <p>
      In this section you will be able to calculate payments on a loan, future
      value of a property, how much you can borrow for a fixed monthly
      commitment.
    </p>
    <h1>Scientific</h1>
    <p>
      Here you will able to do basic area conversions or metric conversions and
      even some basic physics. I will be adding more in the near future.
    </p>    
  </div>
</section>
