@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat");

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
}
.container {
  min-height: 100%;
}
.wrapper {
    padding: 0 16px;
}

/* Ga Helper classes */
.border-temp {
  border: red 1px solid;
}
