@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat");

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
}
.container {
  min-height: 100%;
}
.wrapper {
  padding: 0 16px;
}
footer {
  padding: 0 16px;
}
hr.custom-hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/* Ga Helper classes */
.border-temp {
  border: red 1px solid;
}
